name: Dependabot Auto-Merge

on:
  pull_request:
    branches: [main]
  pull_request_target:
    types: [labeled]

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Approve and merge
        if: steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major'
        run: |
          gh pr approve ${{ github.event.pull_request.number }}
          gh pr merge ${{ github.event.pull_request.number }} --squash --auto
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
