name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"
  pull_request:

jobs:
  # Determine the release version and generate changelog using git-cliff
  changelog:
    name: Generate Changelog
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    outputs:
      release_body: ${{ steps.git-cliff.outputs.content }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate Changelog
        uses: orhun/git-cliff-action@v4
        id: git-cliff
        with:
          config: cliff.toml
          args: -vv --latest --strip header
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_REPO: ${{ github.repository }}

  # Build and upload artifacts using cargo-dist
  build-release:
    name: dist
    needs: [changelog]
    permissions:
      contents: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run cargo-dist
        uses: axodotdev/cargo-dist-action@v0.14.1
        with:
          dist-version: 0.14.1
          release-notes: ${{ needs.changelog.outputs.release_body }}
